[package]
authors = ["Kornel LesinÃÅski <kornel@geekhood.net>"]
description = "A fast file deduplicator. Replaces duplicate files with identical content with hardlinks."
documentation = "https://github.com/kornelski/dupe-krill#readme"
homepage = "https://github.com/kornelski/dupe-krill"
keywords = ["dupe", "duplicate", "deduplication"]
categories = ["command-line-utilities", "filesystem"]
license = "MIT"
name = "dupe-krill"
readme = "README.md"
repository = "https://github.com/kornelski/dupe-krill"
version = "1.4.2"
edition = "2018"

[[bin]]
name = "dupe-krill"
path = "src/bin.rs"

[profile.release]
lto = true
opt-level = 3
panic = "abort"

[dependencies]
getopts = "0.2.14"
sha1 = "0.6.0"
ctrlc = "3.1.0"

[dependencies.serde]
optional = true
version = "1.0"

[dependencies.serde_derive]
optional = true
version = "1.0"

[dependencies.serde_json]
optional = true
version = "1.0"

[dev-dependencies]
tempdir = "0.3.5"

[features]
default = ["json"]
json = ["serde", "serde_derive", "serde_json"]
